@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", "system-ui", "sans-serif";
}

.logo {
  background-image: linear-gradient(347.35deg, #0183ac 0%, #00aee6 100%);
}

.logo:hover {
  background-image: linear-gradient(180deg, #0097c7 0%, #0183ac 100%);
}

.chapter-card__number {
  background-image: linear-gradient(347.35deg, #0183ac 0%, #00aee6 100%);
  background-size: 0;
  background-repeat: no-repeat;
  transition: 0.4s ease;
}

.chapter-card:hover > .chapter-card__number {
  background-size: 100%;
  color: #fafafa;
  opacity: 1;
}

.chapter-info {
  background-image: linear-gradient(347.35deg, #0183ac 0%, #00aee6 100%);
}

@layer base {
  body {
    @apply bg-default;
  }

  .format-text * {
    @apply text-zinc-800;
  }

  .format-text p {
    @apply mb-6;
  }

  .format-text h2 {
    @apply font-bold mb-2;
  }

  .format-text ul li {
    @apply list-disc mb-3;
  }

  .format-text ol li {
    @apply list-decimal mb-3;
  }

  .format-text ol,
  .format-text ul {
    @apply pl-8 mb-5;
  }

  .format-text strong {
    @apply text-sm font-semibold text-zinc-700;
  }
}
